.profile {
  display: flex;
  align-items: center;
}
.profile-left-img {
  margin-right: 1rem;
  height: 10rem;
  border: 1px solid rgb(190, 187, 187);
  border-radius: 5px;
  margin-bottom: 1rem;
}
.profile-icon {
  height: 200px !important;
  border: none;
  width: 200px !important;
}
.profile-right-name {
  font-size: xx-large;
  font-weight: 600;
}
.profile-right-email {
  font-size: 0.9rem;
  background-color: rgb(238, 240, 241);
  padding: 0.2rem;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 0.5rem;
}
/* .profile-img-file {
    
} */

.profile-inner {
  display: flex;
  margin-top: 2rem;
}
.profile-inner-left {
  flex: 6;
}
.profile-inner-right {
  flex: 6;
}
.profile-inner-left-container {
  display: flex;
  width: 40%;
  border: 2px solid rgb(171, 175, 176);
  padding: 1rem;
}
.profile-inner-left-bodyL {
  margin-right: 2rem;
}
.profile-inner-left-num {
  font-size: xx-large;
  color: rgb(207, 36, 36);
  font-weight: 600;
  border: 2px solid rgb(207, 36, 36);
  border-radius: 50%;
  /* padding: 0.5rem; */
  display: inline-block;
  text-align: center;
  width: 3rem;
  margin: 0.5rem 0.5rem;
}
.profile-inner-left-num:hover {
  background-color: rgb(207, 36, 36);
  color: white;
  transition: all 0.2s ease-in-out;
}
.profile-inner-left-textQ {
  cursor: pointer;
}
.profile-inner-left-textQ,
.profile-inner-left-textA {
  color: rgb(124, 124, 166);
}
.profile-inner-left-textQ:hover {
  color: rgb(60, 60, 95);
  transition: all 0.2s ease-in-out;
}
.profile-inner-right-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}
.profile-inner-right-inputField span {
  color: rgb(89, 89, 108);
  display: inline-block;
  margin-bottom: 0.5rem
}
.profile-inner-right-inputField input {
  width: 50%;
  color: rgb(36, 36, 36);
  border-radius: 5px;
  outline: none;
  border: 2px solid #ccc;
  padding: 8px 10px;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem
}
.profile-inner-right-inputField input:focus {
  outline-color: rgb(2, 169, 203);
  outline-style: solid;
  /* outline-offset: 2px; */
  transition: all 0.2s ease-in-out;
}
.profile-inner-button {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 40px;
}
.profile-inner-button:hover {
     background-color: rgb(164, 41, 41);
    transition: all 0.2 ease-in-out;
}
.profile-update{
  display: inline-block;
  color: green;
  margin-top: 1rem;
}
.profile-alert{
  display: inline-block;
  color: red;
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .profile-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-inner-left {
    flex: 12;
  }
  .profile-inner-left-container {
    width: 100%;
  }
  .profile-inner-right-inputField input {
    width: 100%;
  }
  .profile-inner-right-title {
    margin-top: 2rem;
  }
}
